/*Anidamiento*/
header {
    background-color: $primary-color;

    nav {
        padding: 20px;

        ul {
            list-style: circle;

            li {
                text-decoration: underline;
            }
        }
    }
}